html {
    height: 100%;
    width: 100%;
}

header {
    display:flex;
    position:fixed;
}

p {
    color:blueviolet;
    font-family:'Times New Roman', Times, serif;
}

.imageContainer {
    width:200px;
    height:200px;
    background-image:"https://th.bing.com/th/id/OIP.mK9n9ynSnNSjkyBIrlK48QHaHN?pid=ImgDet&rs=1";
}